<p>After another hour of walking it's clear you've made a mistake.  You have never been so thirsty, and there is no sign of water anywhere.  You are also hungry, and eat a little of the bread, but that only makes your thirst more agonizing.</p>


<form action="/strangedream">
    <input type="submit" value="Go to sleep.">
</form>
