<p>By the time you finish the wine, your head is so heavy that you have little choice but to pay three more gold pieces for a room at the inn for the night.  You pick up


<form action="/strangedreaminn">
    <input type="submit" value="Go to sleep.">
</form>
