<p></p>

<p>You think vaguely to yourself that perhaps you should not have drunk the water.  It is too late for such thoughts now, though.  For now all you wish to do is sleep.  You lie down on the damp grass at the shore of the lake and close your eyes.</p>

<form action="/strangedream">
    <input type="submit" value="Go to sleep.">
</form>
