<p>You follow the trail for about an hour.  It is warm even in the shade of the forest, and you are starting to get very thirsty.  Ahead of you, another path forks off to the right.  A posted wooden sign tells you there is an inn not far down this new path, only about a half a mile further.  You consider your small purse of coins and wonder if you have enough for a meal and a room for the night.</p>

<form action="/gotoinn">
    <input type="submit" value="Follow the path to the inn.">
</form>

<form action="/continueontrail">
    <input type="submit" value="Continue on the main trail.">
</form>
