<p>You're not sure if you want to spend the night here, but a meal and something to drink would be a good idea.  You enter the tavern and take a seat at the bar.</p>

<p>The bartender places a glass of red wine on the bar in front of you.  "On the house," she says with a smile.</p>

<form action="/drinkthewine">
    <input type="submit" value="Drink the wine.">
</form>

<form action="/followtrail">
    <input type="submit" value="Decline the wine but order a simple meal with water.">
</form>
