

<form action="/drinkthewine">
    <input type="submit" value="Drink the wine.">
</form>

<form action="/followtrail">
    <input type="submit" value="Decline the wine but order a simple meal with water.">
</form>
