<p>You wake in the forest with no memory of your past.  (You apparently understand English, though.)  From the pattern of the sunlight it seems to be the late afternoon.  Next to you is a knapsack.  You look through it and find a purse of gold coins, a loaf of slightly stale bread, a small pouch of dried meat, an empty water canteen, a change of clothes, and a wool blanket.</p>

<p>You stand up gingerly and look down at yourself.  Nothing seems to be broken.  You are dressed simply, in light cotton clothes and leather boots.  You are disoriented but do not feel ill or tired.</p>

<p>You leave the clearing where you woke and move onto the forest trail, which leads in two directions.  To your right you can see water glistening through the trees.  To your left, the path stretches ahead of you for about half a mile before curving out of sight.</p>

<form action="/lake">
    <input type="submit" value="Turn right to head towards the water.">
</form>

<form action="/followtrail">
    <input type="submit" value="Turn left and follow the trail.">
</form>
