<p>After a few minutes' walk you come to a secluded lake.</p>

<form action="/followtrail">
    <input type="submit" value="Change your mind and turn back down the trail.">
</form>

<form action="/drinkfromlake">
    <input type="submit" value="You realize how thirsty you are and drink deeply from the lake.">
</form>

<form action="/">
    <input type="submit" value="">
</form>
